<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="The professional company in the field of management and construction in either residential or commercial property in Ottawa">
  <meta name="author" content="Zhisong Lin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Material Management</title>
  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="css\all.css" rel="stylesheet">
  <link rel="stylesheet" href="css\style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--bootstrap script-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <!--font awesome-->
  <script src="https://kit.fontawesome.com/c972bbfeba.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="sideBar">
    <div class="sideBarNav">
        <div class="home">
          <i class='logoIcon fas fa-home'></i>
          <span class="logoName">Konson Homes Inc.</span>
        </div>


      <a href="/flooring">
        <div class="items">
          <i class='flooringIcon fas fa-square'></i>
          <span class="flooringName">Flooring</span>
        </div>
      </a>

      <a href="/door">
        <div class="items">
          <i class='doorIcon fas fa-door-closed'></i>
          <span class="doorName">Door</span>
        </div>
      </a>

      <a href="/kitchen">
        <div class="items">
          <i class='kitchenIcon fas fa-blender'></i>
          <span class="kitchenName">Kitchen</span>
        </div>
      </a>

      <a href="/bathroom">
        <div class="items">
          <i class='bathroomIcon fas fa-toilet'></i>
          <span class="bathroomName">Bathroom</span>
        </div>
      </a>

      <a href="/light">
        <div class="items">
          <i class='lightIcon fas fa-lightbulb'></i>
          <span class="lightName">Light</span>
        </div>
      </a>

    </div>
  </section>

<section class="content">

<div class="addButton">
  <button type="button" class="btn btn-secondary btn-lg" onclick="block()">+Add Item</button>
</div>
